
$primary-color: #121112;
$secondary-color: #9a0b38;
$font-family: Arial, sans-serif;

$primary-background-color: #121112;
$navbar-background-color: #9a0b38;
$link-color: rgb(41, 118, 233);
$link-hover-color: rgb(13, 34, 220);
$strong-color: #0d06e2;
$footer-background-color: #2f2f2f6b;
$footer-text-color: #bac225;
$upload-section-background-color: #b3b3c0;
$table-background-color: #74a2f0;
$text-color:  #fff;

$font-size: 16px;
$property: font;
$property-name: #{$property}-size;